@import '../styles.scss';
.index__end-block{
    background-color: $color4;
    padding: 10px 0 30px 0 ;
}
.end__title{
    color: black;
    font-size: 21px;
    font-family: 'Roboto Slab';
}
.end__title-go{
    color: wheat;
    font-family: 'inter';
    text-decoration: underline;
}
